html {
    margin: 5px;
    width: 100%;
}

#wrap {
    margin: 15px 10px 15px 10px;
    display: block;
}

#title {
    background-image: url('./img/header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
}

#title h1 {
    color: white;
    text-shadow: 2px 2px yellow;
    font-size: 40px;
    position: relative;
    left: 20px;
    top: 20px;
    margin: 0;
}

#menu,
#content {
    float: left;
}

#menu {
    margin-right: 20px;
    width: 100px;
    border: 1px solid black;
}