* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    padding: 5px;
}

table #img {
    width: 200px;
}

img {
    height: 200px;
}

a {
    text-decoration: none;
    cursor: pointer !important;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.controller {
    float: left;
    width: 20%;
    border: 1px solid black;
    margin-right: 20px;
    padding-left: 10px;
}

.controller span {
    display: block;
    font-size: 20px;
    letter-spacing: .5px;
    border-bottom: 1px solid #BDBDBD;
    line-height: 50px;
    width: fit-content;
}

.controller ul {
    list-style-type: none;
}

.controller li {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: .3px;
}

.content {
    width: 80%;
}

.text-error {
    color: red;
}

#info-father,
#info-father td {
    border: 1px solid #000;
}

#info-father h3 {
    text-align: center;
    color: red;
    letter-spacing: 1px;
}

#info-child {
    margin: 10px;
}

#info-child tr {
    line-height: 30px;
}

#info-child th {
    width: 130px;
    text-align: left;
}

#info-child td {
    border: none;
    width: 200px;
    padding: 0;
}

#product,
#product td,
#product th {
    border: 1px solid blue;
}

#product-detail td {
    border: 1px solid red;
}

#product-detail img {
    width: 200px;
}

#filter-name {
    line-height: 23px;
}

.td-hover:hover > .hide {
    display: inline-block;
}

.hide {
    display: none;
}
