@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: .05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #256BA5;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: crimson;
}

/* Header */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
    height: auto;
    background-color: rgba(66,66,66 ,1);
}
#header .header {
    display: flex;
    min-height: 8vh;
    box-shadow: 0 0 7px 0 #757575;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	max-width: 1300px;

}

#header .nav-list ul {
    display: flex;
    list-style-type: none;
}

#header .nav-list ul li {
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    font-size: 1.7rem;
    letter-spacing: .05rem;
    position: relative;
}

#header .nav-list ul li:hover {
    text-shadow: 0 0 10px #FAFAFA;
    border-bottom: 1px solid #fafafa;
}

#header .nav-list ul li a {
    color: white;
    display: block;
    width: 100%;
    text-align: center;
}

#header .nav-list ul ul {
    position: absolute;
    display: none;
    top: 8vh;
}

#header .nav-list ul li:hover > ul {
    display: block;
}

#header .nav-list ul ul li {
    position: relative;
    width: 80px;
    padding: 10px;
    background-color: #EEEEEE;
    margin: 0;
    cursor: default;
}

#header .nav-list ul ul li:hover {
    border-bottom: 1.5px solid #BDBDBD;
}

#header .nav-list ul ul ul {
    position: absolute;
    left: 81px;
    top: 0;
}

#header .nav-list ul ul ul a {
    color: black;
}

#header .burger {
    display: none;
    cursor: pointer;
}

#header .burger div {
    width: 25px;
    height: 3px;
    background-color: #f5f5f5;
    margin: 5px;
    transition: all .3s ease;
}

/*@media screen and (max-width:2000px) {
    #header .nav-list {
        width: 60%;
    }
}
*/
@media screen and (max-width:1090px) {
    body {
        overflow-x: hidden;
    }

    #header .nav-list {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #616161;
        width: 50%;
        transform: translateX(100%);
        transition: transform .35s ease-in;
    }

    #header .nav-list ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header .nav-list ul ul {
        position: initial;
        display: none;
        top: initial;
    }

    #header .nav-list ul li:hover > ul {
        display: block;
    }

    #header .nav-list ul ul li {
        position: relative;
        width: 80px;
        padding: 10px;
        background-color: #EEEEEE;
        margin: 0;
        cursor: default;
    }

    #header .burger {
        display: block;
    }
}

#header .nav-active {
    transform: translateX(0%);
}

#header .toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#header .toggle .line-2 {
    opacity: 0;
}

#header .toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* End Header */

/* Hello section */
#hello {
    background-image: url("./img/bg3.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
}

#hello::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#hello .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hello h1 {
    display: block;
    letter-spacing: 2px;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hello h1:nth-child(1) {
    animation-delay: 1s;
}

#hello h1:nth-child(2) {
    animation-delay: 2s;
}

#hello h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #256BA5;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hello h1:nth-child(1) span {
    animation-delay: .5s;
}

#hello h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hello .cta:hover {
    color: white;
    background-color: #256BA5;
}
/* End Hello section */

/* Web Development section */
#webdev .webdev {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#webdev .webdev-top {
    margin-left: 40px;
    margin-right: 40px;
}

#webdev .webdev-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#webdev .webdev-item {
    flex-basis: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url("./img/bg5.jpg");
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: .45s ease;
}

#webdev .webdev-item:hover {
    /* transform: scale(1.025); */
    box-shadow: 0px 0px 10px 0 #616161;
}

#webdev .webdev-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #757575 0%, #424242 100%);
    opacity: .85;
    z-index: -1;
}

#webdev .webdev-bottom .icon {
    height: 128px;
    width: 128px;
    margin-bottom: 20px;
}

#webdev .webdev-bottom .icon img {
    overflow: hidden;
    transition: .5s;
}

#webdev .webdev-bottom .icon img:hover {
    z-index: 1;
    transform: scale(1.25);
}

#webdev .webdev-item h2 {
    border-bottom: 1px solid #EEEEEE;
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#webdev .webdev-item p {
    color: white;
    text-align: left;
}

/* About me section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 20px;
}

#about .col-right table {
    font-size: 1.5rem;
    letter-spacing: .05rem;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
    border-collapse: collapse;
}

#about .col-right table td {
    padding-left: 20px;
    height: 30px;
    cursor: default;
    transition: .35s;
}

#about .col-right table td:hover {
    transform: scale(1.05);
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid #F5F5F5;
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #616161;
	z-index: -1;
}
/* End About me section */

/* Contact section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 400px;
    margin: 0 auto;
}

#contact .contact-item {
    width: 80%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #9E9E9E;
    transition: .5s;
    background-color: #fff;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 3px 0 #9E9E9E;
    transform: scale(1.1);
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}
/* Contact section */

/*Scroll to top*/

#scroll {
    position: fixed;
    right: 20px;
    bottom: 15px;
}

#scroll .scroll-to-top  a {
    background-color: #616161;
    width: 50px;
    height: 50px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scroll .scroll-to-top img {
    width: 16px;
    height: 16px;
}

/*End Scroll to top*/

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #263238 0%, #455A64 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .footer p {
    color: white;
}

/* End Footer */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #256BA5;
        font-weight: 500;
    }
}
/* End Keyframes */
