html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 35%;
    min-width: 400px;
    margin: 10px auto;
    background-color: #fff;
    height: 100%;
}

#form form {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

#form table {
    background-color: #D8D8D8;
    width: 100%;
}

#form table td {
    width: 170px;
    height: 25px;
    padding: 10px;
}

#form h3 {
    color: red;
}

#form h3,
#form p {
    text-align: center;
}

input[type=text],
input[type=password],
select,
input[type=submit],
input[type=reset] {
    height: 25px;
}

#information table {
    border: .5px solid #505050;
}

#information table td,
#information table th {
    text-align: left;
    padding: 0 5px;
    height: 30px;
}

#information table th {
    width: 90px;
}

#information table th h2 {
    margin: 0;
    margin-bottom: 10px;
}
